@charset "UTF-8";
.wrapper {
  max-width: 1300px;
  padding: 0 30px;
  margin: 0 auto;
  overflow: hidden; }

body {
  box-sizing: border-box;
  max-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #1a191d;
  color: white; }

a {
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0; }

img {
  width: 100%;
  height: auto; }

form {
  text-align: center; }

input {
  padding: 15px 60px;
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid grey; }

button {
  font-weight: 600;
  padding: 14px 50px;
  margin-left: 20px;
  background-color: #6f6f6f;
  border-color: #6f6f6f;
  color: #ffffff;
  border-radius: 5px; }
  button:hover {
    font-size: 18px;
    background-color: white !important;
    color: black !important; }

input[type=submit] {
  font-weight: 600;
  padding: 14px 50px;
  margin-left: 20px;
  background-color: #6f6f6f;
  border-color: #6f6f6f;
  color: #ffffff;
  border-radius: 5px; }
  input[type=submit]:hover {
    font-size: 18px;
    background-color: white !important;
    color: black !important; }

table {
  width: 100% !important;
  border: 3px solid; }

th {
  height: 46px;
  background-color: #8f8a8a; }

h1 {
  font-size: 2.4375rem;
  line-height: 1.2;
  color: white;
  font-weight: bolder; }

p {
  font-size: 1rem;
  line-height: 1.65;
  font-weight: 400;
  color: white;
  text-align: justify; }

header .region-header {
  text-align: center; }
  header .region-header .block-system-branding-block {
    border-bottom: 2px solid #a69c90;
    padding: 20px 0; }
    header .region-header .block-system-branding-block .site-logo img {
      max-width: 80px; }
  header .region-header .menu {
    gap: 50px;
    display: flex;
    justify-content: center; }
    header .region-header .menu .menu-item a {
      color: #6f6f6f;
      text-decoration: none;
      font-size: 1rem;
      line-height: 1.65;
      font-weight: 600; }
      header .region-header .menu .menu-item a:hover {
        color: white;
        font-weight: 900; }

.view-banner .views-field-field-image {
  position: relative;
  overflow: hidden; }
  .view-banner .views-field-field-image img {
    transition: transform .5s ease; }
    .view-banner .views-field-field-image img:hover {
      transform: scale(1.5); }
.view-banner .views-field-nothing {
  position: absolute;
  z-index: 1;
  top: 50%;
  /* padding: 10% 20%; */
  left: 26%;
  width: 650px; }
  .view-banner .views-field-nothing h1 {
    font-size: 3.1875rem;
    line-height: 1.2;
    font-weight: bolder;
    margin-top: 0; }
  .view-banner .views-field-nothing p {
    font-size: 1rem;
    line-height: 1.65;
    font-weight: 400;
    margin-top: 65px; }
  .view-banner .views-field-nothing a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    line-height: 3.65;
    font-weight: 600; }
    .view-banner .views-field-nothing a::after {
      content: "➜";
      margin-left: 8px; }
    .view-banner .views-field-nothing a:hover {
      color: #cccccc; }

.view-feature .view-content {
  display: flex; }
  .view-feature .view-content .views-row {
    position: relative; }
    .view-feature .view-content .views-row .views-field-body {
      position: absolute;
      z-index: 1;
      width: 51%;
      padding: 20px 30px; }
      .view-feature .view-content .views-row .views-field-body h5 {
        font-size: 1rem;
        line-height: 1.65;
        font-weight: 600; }
      .view-feature .view-content .views-row .views-field-body h1 {
        font-size: 2.4375rem;
        line-height: 1.2; }
      .view-feature .view-content .views-row .views-field-body p {
        font-size: 1rem;
        line-height: 1.65;
        font-weight: 400; }
  .view-feature .view-content .views-field-field-image {
    position: relative;
    overflow: hidden; }
    .view-feature .view-content .views-field-field-image img {
      min-height: 500px;
      transition: transform .5s ease; }
      .view-feature .view-content .views-field-field-image img:hover {
        transform: scale(1.5); }
  .view-feature .view-content .read-button {
    color: white;
    font-size: 1rem;
    line-height: 3.65;
    font-weight: 600;
    position: absolute;
    bottom: 6px;
    padding-left: 30px; }
    .view-feature .view-content .read-button:hover {
      color: #cccccc; }
    .view-feature .view-content .read-button a {
      color: white;
      text-decoration: none; }
    .view-feature .view-content .read-button::after {
      content: "➜";
      margin-left: 8px; }

.testimonial {
  width: 900px;
  margin: auto;
  border-top: 2px solid lightgrey;
  padding-top: 50px;
  position: relative;
  padding-bottom: 50px; }
  .testimonial h1 {
    font-size: 2.75rem;
    line-height: 1.2; }
  .testimonial p {
    font-size: 1rem;
    line-height: 1.65;
    margin-top: 0;
    margin-bottom: 1rem; }
  .testimonial a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    line-height: 3.65;
    font-weight: 600;
    position: absolute;
    bottom: 0px; }
    .testimonial a::after {
      content: "➜";
      margin-left: 8px; }
    .testimonial a:hover {
      color: #cccccc; }
  .testimonial::after {
    content: "📄";
    font-size: 200px;
    position: absolute;
    top: 60px;
    right: 0;
    z-index: -1;
    opacity: 30%; }

.testimonial-info {
  display: flex;
  align-items: center;
  width: 900px;
  margin: auto;
  border-bottom: 2px solid lightgrey;
  padding-bottom: 50px; }
  .testimonial-info img {
    height: 50px;
    width: 50px;
    min-width: 50px;
    border-radius: 50%; }
  .testimonial-info h4 {
    font-size: 1rem;
    line-height: 1.65;
    margin-left: 15px; }

.contact-us {
  padding-top: 100px;
  padding-bottom: 150px; }
  .contact-us .views-row {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    margin: auto; }
    .contact-us .views-row .views-field-field-image {
      width: 40%; }
      .contact-us .views-row .views-field-field-image img {
        max-width: 443px;
        border-radius: 4px; }
    .contact-us .views-row .views-field-body {
      width: 50%; }
      .contact-us .views-row .views-field-body .field-content h5 {
        font-weight: 600;
        font-size: 1rem; }
      .contact-us .views-row .views-field-body .field-content h1 {
        font-weight: bold;
        font-size: 2.45rem;
        line-height: 1.2; }
      .contact-us .views-row .views-field-body .field-content p {
        font-size: 1rem;
        line-height: 1.65;
        font-weight: 400; }
      .contact-us .views-row .views-field-body .field-content input[type=email] {
        padding: 15px 60px;
        border-radius: 3px;
        background-color: transparent;
        border: 1px solid grey; }
      .contact-us .views-row .views-field-body .field-content input[type=submit] {
        font-weight: 600;
        padding: 14px 50px;
        margin-left: 20px;
        background-color: #6f6f6f;
        border-color: #6f6f6f;
        color: #ffffff;
        border-radius: 5px; }

.view-most-read .view-header {
  font-size: 4.0625rem;
  line-height: 1.2;
  font-weight: bolder;
  text-align: center;
  padding-top: 100px; }
.view-most-read .view-content {
  display: flex;
  margin: 0 -15px;
  flex-wrap: wrap;
  padding: 100px 0; }
  .view-most-read .view-content .views-row {
    width: calc(33% - 30px);
    padding: 0 15px;
    position: relative; }
    .view-most-read .view-content .views-row .most-read {
      padding: 40px;
      border-radius: 4px;
      background: #6f6f6f;
      margin-bottom: 40px;
      min-height: 350px;
      position: relative; }
      .view-most-read .view-content .views-row .most-read h1 {
        font-size: 1.8rem;
        line-height: 1.2;
        cursor: pointer;
        font-weight: bold; }
        .view-most-read .view-content .views-row .most-read h1:hover {
          color: #cccccc; }
      .view-most-read .view-content .views-row .most-read p {
        font-size: 1rem;
        line-height: 1.65;
        font-weight: 400;
        word-break: break-word; }
    .view-most-read .view-content .views-row .read-button {
      color: white;
      font-size: 1rem;
      line-height: 3.65;
      font-weight: 600;
      position: absolute;
      bottom: 42px;
      left: 58px; }
      .view-most-read .view-content .views-row .read-button:hover {
        color: #cccccc; }
      .view-most-read .view-content .views-row .read-button a {
        color: white;
        text-decoration: none; }
      .view-most-read .view-content .views-row .read-button::after {
        content: "➜";
        margin-left: 8px; }

.view-latest-news {
  padding-top: 6rem; }
  .view-latest-news .view-header {
    display: flex;
    justify-content: space-between;
    font-size: 2.4375rem;
    line-height: 1.2;
    font-weight: bold;
    padding-bottom: 2rem; }
    .view-latest-news .view-header a {
      font-weight: 600;
      border-width: 1px;
      font-style: normal;
      margin: 0.6rem 0.6rem;
      white-space: normal;
      transition: all 0.2s ease-in-out;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      word-break: break-word;
      box-shadow: none;
      background-color: #6f6f6f;
      border-color: #6f6f6f;
      color: #ffffff;
      padding: 7px 15px;
      border-radius: 4px;
      font-size: 1rem;
      line-height: 1.65; }
      .view-latest-news .view-header a::after {
        content: "➜";
        margin-left: 8px; }
      .view-latest-news .view-header a:hover {
        font-size: 18px;
        background-color: white !important;
        color: black !important; }
  .view-latest-news .view-content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px; }
    .view-latest-news .view-content .views-row {
      width: calc(33.33% - 30px);
      padding: 0 15px;
      margin-bottom: 50px;
      overflow: hidden;
      position: relative; }
      .view-latest-news .view-content .views-row .latest-news {
        position: absolute;
        z-index: 1;
        width: 58%;
        padding: 60px 30px; }
        .view-latest-news .view-content .views-row .latest-news h6 {
          font-size: 1rem;
          line-height: 1.65;
          margin: 0;
          font-weight: 500; }
          .view-latest-news .view-content .views-row .latest-news h6::before {
            content: "⌚";
            margin-right: 8px; }
        .view-latest-news .view-content .views-row .latest-news h1 {
          font-size: 1.5625rem;
          line-height: 1.2; }
          .view-latest-news .view-content .views-row .latest-news h1:hover {
            color: #cccccc; }
      .view-latest-news .view-content .views-row .views-field-field-image {
        position: relative;
        overflow: hidden;
        border-radius: 5px; }
        .view-latest-news .view-content .views-row .views-field-field-image img {
          border-radius: 5px;
          min-height: 400px;
          transition: transform .5s ease;
          opacity: 70%; }
          .view-latest-news .view-content .views-row .views-field-field-image img:hover {
            transform: scale(1.5); }
      .view-latest-news .view-content .views-row .read-button {
        text-decoration: none;
        color: white;
        font-size: 1rem;
        line-height: 3.65;
        font-weight: 600;
        position: absolute;
        bottom: 21px;
        left: 58px; }
        .view-latest-news .view-content .views-row .read-button:hover {
          color: #cccccc; }
        .view-latest-news .view-content .views-row .read-button a {
          color: white;
          text-decoration: none; }
        .view-latest-news .view-content .views-row .read-button::after {
          content: "➜";
          margin-left: 8px; }

footer {
  border-top: 3px solid #a69c90;
  padding-top: 20px;
  padding-bottom: 20px; }
  footer .region-footer {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    footer .region-footer .view-footer p {
      font-size: 1rem;
      line-height: 1.65;
      font-weight: 400; }
    footer .region-footer #block-footersocial img {
      max-width: 25px;
      margin-right: 10px; }

.node__meta {
  display: none; }

.page-node-type-latest-news .latest-news h6 {
  font-size: 1rem;
  line-height: 1.65;
  margin: 0;
  font-weight: 500; }
  .page-node-type-latest-news .latest-news h6::before {
    content: "⌚";
    margin-right: 8px; }
.page-node-type-latest-news .latest-news h1 {
  font-size: 1.5625rem;
  line-height: 1.2; }
  .page-node-type-latest-news .latest-news h1:hover {
    color: #cccccc; }
.page-node-type-latest-news .field--type-image {
  width: 50%;
  float: left;
  padding-bottom: 115px;
  margin-top: 20px; }
.page-node-type-latest-news .field--name-field-description {
  width: 46%;
  float: right; }

.page-node-type-feature .features {
  text-align: center; }
  .page-node-type-feature .features p {
    display: none; }
.page-node-type-feature .field--type-image {
  width: 80%;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  position: relative; }
  .page-node-type-feature .field--type-image img {
    height: 300px; }
  .page-node-type-feature .field--type-image:hover {
    animation-name: example;
    animation-duration: 4s; }
@keyframes example {
  0% {
    left: 0px;
    top: 0px; }
  25% {
    left: 250px;
    top: 0px; }
  50% {
    left: 0px;
    top: 0px; }
  75% {
    left: 0px;
    top: 0px; }
  100% {
    left: 0px;
    top: 0px; } }
.page-node-type-most-read .most-read {
  text-align: center; }

/* mobile responsive */
@media only screen and (max-width: 768px) {
  .header .region-header .menu {
    display: none; }

  .contact-us {
    padding-top: 100px;
    padding-bottom: 150px; }
    .contact-us .views-row {
      width: 100%;
      flex-wrap: wrap; }
      .contact-us .views-row .views-field-field-image {
        width: 100%; }
        .contact-us .views-row .views-field-field-image img {
          max-width: 100%; }
      .contact-us .views-row .views-field-body {
        width: 100%; }
        .contact-us .views-row .views-field-body .field-content h5 {
          font-weight: 600;
          font-size: 1rem; }
        .contact-us .views-row .views-field-body .field-content h1 {
          font-size: 1.5rem; }
        .contact-us .views-row .views-field-body .field-content p {
          font-size: 1rem;
          line-height: 1.65;
          font-weight: 400; }
        .contact-us .views-row .views-field-body .field-content input[type=email] {
          padding: 15px 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: auto;
          margin-bottom: 20px;
          text-align: center; }
        .contact-us .views-row .views-field-body .field-content input[type=submit] {
          padding: 14px 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: auto; }

  .testimonial {
    width: 100%; }
    .testimonial h1 {
      font-size: 1.5rem;
      line-height: 1.2; }

  .view-most-read .view-header {
    font-size: 2.2rem; }
  .view-most-read .view-content {
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
    padding: 100px 0; }
    .view-most-read .view-content .views-row {
      width: 100%; }
      .view-most-read .view-content .views-row .most-read {
        padding: 40px;
        border-radius: 4px;
        background: #6f6f6f;
        margin-bottom: 40px;
        min-height: 350px;
        position: relative; }
        .view-most-read .view-content .views-row .most-read h1 {
          font-size: 1.5rem;
          line-height: 1.2;
          cursor: pointer;
          font-weight: bold; }
          .view-most-read .view-content .views-row .most-read h1:hover {
            color: #cccccc; }
        .view-most-read .view-content .views-row .most-read p {
          font-size: 1rem;
          line-height: 1.65;
          font-weight: 400;
          word-break: break-word; }

  .view-latest-news .view-header {
    align-items: center;
    font-size: 1.5rem; }
    .view-latest-news .view-header a {
      font-size: 12px; }
  .view-latest-news .view-content .views-row {
    width: 100%; }
    .view-latest-news .view-content .views-row .latest-news {
      width: 79%; }
      .view-latest-news .view-content .views-row .latest-news h6 {
        font-size: 1rem;
        line-height: 1.65;
        margin: 0;
        font-weight: 500; }
      .view-latest-news .view-content .views-row .latest-news h1 {
        font-size: 1.5625rem;
        line-height: 1.2; }
        .view-latest-news .view-content .views-row .latest-news h1:hover {
          color: #cccccc; }

  .view-feature .view-content {
    display: flex;
    flex-wrap: wrap; }
    .view-feature .view-content .views-row {
      position: relative; }
      .view-feature .view-content .views-row .views-field-body {
        position: absolute;
        z-index: 1;
        width: 80%;
        padding: 20px 30px; }
        .view-feature .view-content .views-row .views-field-body h5 {
          font-size: 1rem;
          line-height: 1.65;
          font-weight: 600; }
        .view-feature .view-content .views-row .views-field-body h1 {
          font-size: 1.5rem;
          line-height: 1.2; }
        .view-feature .view-content .views-row .views-field-body p {
          font-size: 1rem;
          line-height: 1.65;
          font-weight: 400; }
    .view-feature .view-content .views-field-field-image {
      position: relative;
      overflow: hidden; }
      .view-feature .view-content .views-field-field-image img {
        min-height: 500px;
        transition: transform .5s ease; }
        .view-feature .view-content .views-field-field-image img:hover {
          transform: scale(1.5); }
    .view-feature .view-content .read-button {
      color: white;
      font-size: 1rem;
      line-height: 3.65;
      font-weight: 600;
      position: absolute;
      bottom: 6px;
      padding-left: 30px; }
      .view-feature .view-content .read-button:hover {
        color: #cccccc; }
      .view-feature .view-content .read-button a {
        color: white;
        text-decoration: none; }
      .view-feature .view-content .read-button::after {
        content: "➜";
        margin-left: 8px; }

  .view-banner .views-field-nothing {
    z-index: 1;
    top: 38%;
    left: 8%;
    width: 339px; }
    .view-banner .views-field-nothing h1 {
      font-size: 1.5rem;
      line-height: 1.2;
      font-weight: bolder;
      margin-top: 0; }
    .view-banner .views-field-nothing p {
      display: none; }

  .footer .region-footer {
    flex-wrap: wrap; }

  .page-node-type-feature .features {
    text-align: center; }
    .page-node-type-feature .features h1 {
      font-size: 1.5rem; }
    .page-node-type-feature .features p {
      display: none; }
  .page-node-type-feature .field--type-image {
    width: 80%;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    position: relative; }
    .page-node-type-feature .field--type-image img {
      height: 300px; }
    .page-node-type-feature .field--type-image:hover {
      animation-name: example;
      animation-duration: 4s; }
  @keyframes example {
    0% {
      left: 0px;
      top: 0px; }
    25% {
      left: 70px;
      top: 0px; }
    50% {
      left: 0px;
      top: 0px; }
    75% {
      left: 0px;
      top: 0px; }
    100% {
      left: 0px;
      top: 0px; } }
  .page-node-type-latest-news .field--type-image {
    width: 100%;
    padding-bottom: 20px; }
  .page-node-type-latest-news .field--name-field-description {
    width: 100%;
    text-align: justify; }

  .page-node-type-most-read .most-read h1 {
    font-size: 1.5rem; } }
/* ipad responsive */
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .header .region-header .menu {
    display: flex; }

  .contact-us {
    padding-top: 100px;
    padding-bottom: 150px; }
    .contact-us .views-row {
      width: 100%;
      flex-wrap: wrap; }
      .contact-us .views-row .views-field-field-image {
        width: 100%; }
        .contact-us .views-row .views-field-field-image img {
          max-width: 100%; }
      .contact-us .views-row .views-field-body {
        width: 100%; }
        .contact-us .views-row .views-field-body .field-content h5 {
          font-weight: 600;
          font-size: 1rem; }
        .contact-us .views-row .views-field-body .field-content h1 {
          font-size: 2rem; }
        .contact-us .views-row .views-field-body .field-content p {
          font-size: 1rem;
          line-height: 1.65;
          font-weight: 400; }
        .contact-us .views-row .views-field-body .field-content input[type=email] {
          padding: 18px 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: auto;
          margin-bottom: 20px;
          text-align: center; }
        .contact-us .views-row .views-field-body .field-content input[type=submit] {
          padding: 14px 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: auto; }

  .testimonial {
    width: 100%; }
    .testimonial h1 {
      font-size: 2.2rem;
      line-height: 1.2; }

  .view-most-read .view-header {
    font-size: 3rem; }
  .view-most-read .view-content {
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
    padding: 100px 0; }
    .view-most-read .view-content .views-row {
      width: calc(50% - 30px); }
      .view-most-read .view-content .views-row .most-read h1 {
        font-size: 1.4rem; }

  .view-latest-news .view-content .views-row {
    width: calc(50% - 30px); }
    .view-latest-news .view-content .views-row .latest-news {
      width: 79%; }
      .view-latest-news .view-content .views-row .latest-news h6 {
        font-size: 1rem;
        line-height: 1.65;
        margin: 0;
        font-weight: 500; }
      .view-latest-news .view-content .views-row .latest-news h1 {
        font-size: 1.5625rem;
        line-height: 1.2; }
        .view-latest-news .view-content .views-row .latest-news h1:hover {
          color: #cccccc; }

  .view-feature .view-content {
    display: flex; }
    .view-feature .view-content .views-row {
      position: relative; }
      .view-feature .view-content .views-row .views-field-body {
        position: absolute;
        z-index: 1;
        width: 51%;
        padding: 20px 30px; }
        .view-feature .view-content .views-row .views-field-body h5 {
          font-size: 1rem;
          line-height: 1.65;
          font-weight: 600; }
        .view-feature .view-content .views-row .views-field-body h1 {
          font-size: 1.5rem;
          line-height: 1.2; }
        .view-feature .view-content .views-row .views-field-body p {
          font-size: 1rem;
          line-height: 1.65;
          font-weight: 400; }

  .view-banner .views-field-nothing {
    top: 21%;
    left: 16%;
    width: 583px; }
    .view-banner .views-field-nothing h1 {
      font-size: 2.5rem; }
    .view-banner .views-field-nothing p {
      margin-top: 34px; }

  header .region-header {
    text-align: center; }
    header .region-header .block-system-branding-block {
      border-bottom: 2px solid #a69c90;
      padding: 20px 0; }
      header .region-header .block-system-branding-block .site-logo img {
        max-width: 80px; }
    header .region-header .menu {
      display: flex;
      justify-content: space-around;
      gap: 0; }

  .page-node-type-feature .features {
    text-align: center; }
    .page-node-type-feature .features p {
      display: none; }
  .page-node-type-feature .field--type-image {
    width: 62%; }
    .page-node-type-feature .field--type-image img {
      height: 300px; }

  .page-node-type-latest-news .field--type-image {
    width: 100%;
    padding-bottom: 20px; }
  .page-node-type-latest-news .field--name-field-description {
    width: 100%;
    text-align: justify; } }
